body {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
}

#container {
    background-color: rgba(0, 0, 0, 0.062);
    width: 40%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

#container-entrada {
   margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete {
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: bolder;
    font-size: 15px;
}

.delete:hover {
    color: red;
}

.tarefa {
    outline: none;
    border: none;
    font-size: 20px;
    background-color: transparent;
    margin-right: 10px;
}

.tarefa:hover {
    color: rgb(68, 0, 255);
}

#tarefa {
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}

#tarefa:focus {
    outline: none;
}

#listar {
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    align-items: center;
}
